parameters:
    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'
    ignoreErrors:
        - '#has invalid type Composer\\Script\\Event#'
        - '#on an unknown class Composer\\Script\\Event#'
