parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
        - '#has invalid typehint type Composer\\Script\\Event#'
        - '#on an unknown class Composer\\Script\\Event#'
